/*
10425c dark blue
41E2CC light blue
*/

/* Reset */

html {
    scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: linear-gradient(135deg, #0C1F2A 0%, #000000 100%);
    font-family: monospace;
    color: black;
    line-height: 1.6;
    overflow-x: hidden;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    height: 70px;
    background-color: #000000;
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.5);
    /* IMPORTANT */
    position: sticky;
    top: 0;
    z-index: 100;
}

header nav {
    color: white;
}

header nav a {
    font-size: 20px;
    margin: 0 15px;
    color: white;
    text-decoration: none;
    transition: color 0.3s ease;
}

header nav a:hover {
    color: #41E2CC;
}

header img {
    width: 50px;
    height: 50px;
}

.hero {
    height: 85vh;
    background: linear-gradient(135deg, #0C1F2A 0%, #000000 100%);
    color: #f8f9fa;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    overflow: hidden;
}

.hero-content {
    position: relative;
    z-index: 2;
}

.hero h1 {
    font-size: 5vh;
    font-weight: 800;
    z-index: 2;
    position: relative;
}

.hero p {
    font-size: 1.5rem;
    font-weight: 400;
    z-index: 2;
    position: relative;
}

.hero-logo {
    width: 80px;
    height: 80px;
}

.social-icons {
    margin-top: 30px;
}

.social-icons a {
    font-size: 2rem;
    margin: 0 15px;
    color: white;
    text-decoration: none;
    transition: color 0.3s ease;
}

.social-icons a:hover {
    color: #41E2CC;
}

.scroll-indicator {
    position: fixed;
    bottom: 13%;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: bounce 1.5s infinite;
    opacity: 1;
    cursor: pointer;
    z-index: 10;
}

.arrow {
    display: inline-block;
    font-size: 5vh;
    color: white;
}

@keyframes bounce {

    0%,
    50%,
    100% {
        transform: translateX(-50%) translateY(0);
    }

    75% {
        transform: translateX(-50%) translateY(5px);
    }
}

.about {
    position: relative;
    /* light gray */
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-bottom: 40px;
    padding-top: 40px;
    z-index: 3;
}

.about h2 {
    font-size: 2rem;
    margin-bottom: 20px;
    font-weight: 600;
    color: #f8f9fa;
}

.about h3 {
    font-size: 1.3rem;
    margin-top: 20px;
    font-weight: 600;
    color: #f8f9fa;
}

.about p {
    font-size: 1.2rem;
    color: #f8f9fa;
    text-align: center;
}

.aboutText {
    z-index: 2;
    width: 40%;
}

#about {
    position: relative;
    background-color: #000000;
    /* dark navy, same as hero top */
    /* light gray */
    padding: 80px 20px;
    text-align: center;
    overflow: hidden;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5),
        0 -10px 20px rgba(0, 0, 0, 0.3);
    scroll-margin-top: 10vh;
}

/* Soft blob shapes 
.blob {
    position: absolute;
    border-radius: 50%;
    opacity: 0.6;
    animation: float 10s ease-in-out infinite;
}

.blob1 {
    width: 250px;
    height: 250px;
    background: linear-gradient(135deg, #10425c, #41E2CC);
    top: 10%;
    left: 10%;
    animation-delay: 0s;
}

.blob2 {
    width: 200px;
    height: 200px;
    background: linear-gradient(135deg, #10425c, #41E2CC);
    top: 50%;
    right: 9%;
    animation-delay: 3s;
}

.blob3 {
    width: 150px;
    height: 150px;
    background: linear-gradient(135deg, #10425c, #41E2CC);
    top: 70%;
    right: 20%;
    animation-delay: 6s;
}
*/

@keyframes float {

    0%,
    100% {
        transform: translateY(0px) rotate(0deg);
    }

    50% {
        transform: translateY(-20px) rotate(15deg);
    }
}

#pricing {
    background: linear-gradient(135deg, #10425c, #41E2CC);
    padding: 40px 20px;
    text-align: center;
    scroll-margin-top: 10vh;
}

.pricing-title {
    font-size: 2.5rem;
    margin-bottom: 40px;
    color: #f5f5f5;
}

.offers-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 20px;
    margin: 0 auto;
}

.offer-box {
    width: 30%;
    background: white;
    padding: 30px;
    border-radius: 12px;
    position: relative;
    box-shadow: 0 -10px 20px rgba(0, 0, 0, 0.15);
    font-size: large;
    transition: transform 0.3s ease;
}

.offer-box:hover {
    transform: translateY(-5px);
}

.offer-box h2 {
    color: #000000;
}

.contact {
    background: linear-gradient(135deg, #0C1F2A 0%, #000000 100%);
    padding: 40px 20px;
    text-align: center;
    box-shadow: 0 -15px 35px rgba(0, 0, 0, 0.5);
    z-index: 5;
    position: relative;
}

.contact h2 {
    font-size: 2rem;
    margin-bottom: 20px;
    font-weight: 600;
    color: white;
}

form {
    max-width: 40%;
    margin: auto;
    display: flex;
    flex-direction: column;
}

input,
textarea {
    margin: 10px 0;
    padding: 12px;
    border: 3px solid #41E2CC;
    border-radius: 8px;
    font-size: 1rem;
}

#message {
    height: 20vh;
}

button {
    background: #41E2CC;
    color: #000000;
    padding: 12px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 1rem;
    font-weight: 600;
}

button:hover {
    background: white;
}

footer {
    width: 100%;
    height: 3 0vh;
    background-color: #000000;
    color: #41E2CC;
    padding: 2%;
    box-shadow: 0 -15px 35px rgba(0, 0, 0, 0.35);
    z-index: 6;
    position: relative;
}

.footer-content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.footer-logo {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

.logo {
    width: 80px;
    height: 80px;
    border: 2px solid #41E2CC;
}

.footer-nav {
    margin-top: 10px;
    margin-bottom: 20px;
}

.footer-nav a {
    font-size: 30px;
    margin: 0 15px;
    color: #41E2CC;
    text-decoration: none;
    transition: color 0.3s ease;
}

.footer-nav a:hover {
    color: white;
}

footer hr {
    border-color: #41E2CC;
    margin-top: 5px;
}

.f-socials {
    justify-content: center;
}

.f-socials a {
    font-size: 25px;
    margin: 0 15px;
    color: #41E2CC;
    text-decoration: none;
    transition: color 0.3s ease;
}

.f-socials a:hover {
    color: white;
}

.copyright {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu {
    display: none;
    /* default hidden */
    flex-direction: column;
    gap: 5px;
}

.menu div {
    width: 30px;
    height: 3px;
    background-color: #41E2CC;
    transition: all 0.3s ease;
}

.menu.active div:nth-child(1) {
    transform: rotate(45deg) translate(5px, 5px);
    transform-origin: center;
}
.menu.active div:nth-child(2) {
    opacity: 0;
}
.menu.active div:nth-child(3) {
    transform: rotate(-45deg) translate(6px, -6px);
    transform-origin: center;
}

#menu {
    border: 2px solid rgba(65, 226, 204, 0.4);
    padding: 8px 10px;
    border-radius: 10px;
    transition: 0.3s ease;
}

#menu:hover {
    border-color: #41E2CC;
    background: rgba(65, 226, 204, 0.1);
}

@media (max-width: 450px) {
    header nav {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 70px;
        left: 0;
        width: 100%;
        height: 30vh;
        background-color: #000000;
        padding: 20px;
        gap: 15px;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    }

    header nav.show {
        display: flex;
    }

    .menu {
        display: flex;
    }

    .hero h1 {
        font-size: 1.5vh;
    }

    .hero p {
        font-size: 1.5vh;
    }

    .hero-logo {
        width: 50px;
        height: 50px;
        margin-top: 5%;
    }

    .social-icons a {
        font-size: 3vh;
    }

    .aboutText {
        width: 90%;
    }

    .text {
        width: 90%;
    }

    form {
        max-width: 80%;
    }

    .offers-container {
        flex-direction: column;
    }

    .blob1 {
        top: 5%;
        left: 0%;
        height: 200px;
        width: 200px;
    }

    .blob2 {
        right: 0%;
        height: 150px;
        width: 150px;
    }

    .blob3 {
        left: 2%;
        height: 100px;
        width: 100px;
    }

    .offer-box {
        width: 90vw;
    }

    .footer-nav a {
        font-size: 15px;
    }

    .logo {
        width: 60px;
        height: 60px;
        margin-bottom: 10px;
    }

    .copyright {
        flex-direction: column;
    }

    .c-text {
        margin-top: 5px;
        margin-bottom: 10px;
    }
}